// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant{
  // display: flex;
  // justify-content: space-between;
  // align-items : center;
  padding: 20px;
  margin: 20px;
  .restaurant-content{
    h1, h2, h3{
      color: $brand-color;
    }
    color: #444;
  }
}
.restaurant-card{
   h1, h2, h3{
      color: $brand-color;
    }
    color: #444;
}
