// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant{
  display: flex;
  justify-content: space-between;
  align-items : center;
  .restaurant-content{

  }
}
.restaurant-card{
  // background-color: grey;
  // margin: 20px;
  // width: 250px;

}
