// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.reviews{
  padding-top: 50px;
  .review{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 10px;
    margin: 5px;
    box-shadow: $border-shadow;
    border-radius: 4px;
  }
}

.review-rating{
  .star-active{
    color: $yellow;
  }
}

// .rating {
//   direction: rtl;
//   text-align: left;
//   font-size: 30px;
//   unicode-bidi: bidi-override;
//   box-sizing: border-box;
//   span.star {
//     font-family: FontAwesome;
//     font-weight: normal;
//     font-style: normal;
//     display: inline-block;
//     /*letter-spacing: -15px;*/
//     &:before {
//       content: "\f006";
//       padding-right: 5px;
//       color: #777;
//       /*box-sizing: border-box;*/
//     }
//     &:hover {
//       &:before, ~ span.star:before {
//         content: "\f005";
//         color: #e3cf7a;
//       }
//     }
//   }
// }

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  font-family: FontAwesome;
  /* the hidden clearer */
  * {
    font-size: 3rem;
    font-weight: normal;
  }
  > {
    input {
      display: none;
      + label {
        /* only enough room for the star */
        display: inline-block;
        overflow: hidden;
        text-indent: 9999px;
        width: 1.3em;
        white-space: nowrap;
        cursor: pointer;
        &:before {
          display: inline-block;
          text-indent: -9999px;
          content: "\f006";
          color: #777;
        }
      }
      &:checked ~ label:before {
        content: "\f005";
        // color: #e3cf7a;
        color: $yellow;

        /*text-shadow: 0 0 1px #333;*/
      }
      + label:hover {
        ~ label:before, &:before {
          content: "\f005";
          color: #e3cf7a;
          /*text-shadow: 0 0 1px #333;*/
        }
      }
    }
    .star-cb-clear + label {
      text-indent: -9999px;
      width: .5em;
      margin-left: -.8em;
      &:before {
        width: .5em;
      }
    }
  }
  &:hover > input + label {
    &:before {
      content: "\f006";
      color: #888;
      /*text-shadow: none;*/
    }
    &:hover {
      ~ label:before, &:before {
        content: "\f005";
        color: #e3cf7a;
        /*text-shadow: 0 0 1px #333;*/
      }
    }
  }
}
